.home {
    background-image: url('E:/cyber security project encryption and decryption/secureflow/public/assets/background.jpg');
    background-size: cover;
    height: 100vh;
  }

/* Main Title Styling */
h1 {
    position: absolute;
    width: 85%;
    height: auto;
    top: 50px;
    left: 70px;
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 90px;
    color: #EDBD00;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 0;
}

/* Button styling */
button {
  
    padding: 12px;
    background: white;
    border: none;
    margin-left: 0.5rem;
    border-radius: 10px;
    color: black;
    width: 60%;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s;
}

button:hover {
    background: linear-gradient(135deg, #a8a1a1, #878887);
    transform: translateY(-1px);
    color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Subtitle Animation */
.subtitle {
    position: absolute;
    top: 100px; /* Adjust the position according to your preference */
    left: 70px;
    font-family: 'Titillium Web', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    color: #FFFFFF;
    opacity: 0;
    animation: fadeInOut 5s ease-in-out infinite;
}

/* Keyframes for the fade-in and fade-out effect */
@keyframes fadeInOut {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}


.frame{
    position:absolute;
    height: 250px;
    opacity: 0.5;
    border: 2px solid rgba(3, 1, 52, 0.33);
    filter: blur(0.5px);
    top: 200px;
    left: 70px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    background: black;
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px #0ff, 0 0 15px #0ff, 0 0 20px #0ff;
    width: 350px;
    text-align: center;
}

#b1{
    position: absolute;
    left:7px;
    top: 50px; 
}
#b2{
    position: absolute;
    left:7px;
   
    top: 150px;
    
} 